
body {
    background-image: url(https://www.bing.com/th?id=OHR.NaranjoBulnes_ROW4819283992_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);
    /*background-image: url(https://www.bing.com/th?id=OHR.ChurchillPolarBear_ROW3942077807_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);*/
    /*background-image: url(https://www.bing.com/th?id=OHR.AlbertaThanksgiving_ROW3027926486_1920x1080.jpg&amp;rf=LaDigue_1920x1080.jpg&amp;pid=hp);*/
}

.form-control {
    min-height: 37px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {
    border-radius: 26px;
}

.login-form {

    width: 350px;
    margin: 30px auto;
    text-align: center;
}

.login-form h2 {
    margin: 10px 0 25px;
}

.login-form form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}

.login-form a {
    color: #fff;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}

.title-reset {
    background-color: #337ab7;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;

}

.button_1 {
    min-width: 88px;
    border-radius: 25px;
!important;
    min-height: 40px;
!important;
    box-shadow: none !important;
    border: transparent;
}

.input-text {
    display: inline-block;
    width: 469px;
    vertical-align: middle;
    min-height: 40px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
    border-radius: 26px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s
}

.title-reset p {
    color: white;
}

.spacer {
    /*width: auto;*/
    /*height: 150px;*/
    border-style: double;
    /*color: white;*/

}

.weather-search-container {

}

.weather-container, .weather-main-top {
    display: flex;
    cursor: pointer;
}

.weather-icon {
    margin: 0 25px 0 10px;
}

.weather-place {
    margin: 0px 25px 0 10px;
}

.weather-country {
    font-size: 12px;
    font-weight: 600;
    width: 75px;
}

.weather-time {
    color: gray;
    font-size: 14px;
}

.weather-main {
    margin-left: 15px;
}

.weather-main-top {
    overflow: hidden;
    margin-top: -4px;
}

.weather-main-temp {
    margin-top: 6px;
    line-height: 16px;
}

.weather-main-description {
    margin-top: 4px;
    margin-left: 7px;
}

.weather-main-detail {
    font-size: 14px;
}

.weather-action {
    margin: 5px 18px 0 50px;
}

.weather-item {
    margin: -16px 0 -16px 0;
    overflow: hidden;
}

.weather-main-item {
    margin-top: 0px;
    overflow: hidden;
}

.weather-main {
    width: 264px;
}

.weather-button-action {
    font-weight: 500;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff4a;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    .card {
        font-size: 10px;
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (max-width: 320px ) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 162px) and (max-width: 220px) {
    .card {
        margin-bottom: 16px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
        border-radius: 24px;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 13px;
    }
}

@media (min-width: 1025px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-size: 15px;
        border-radius: 24px
    }
}

@media (min-width: 1025px) {
    .table {
        /*max-width: 750px;*/
        margin: auto;
        color: black;
    }
}

@media (max-width: 320px) {
    .table {
        color: white;
    }
}

@media (min-width: 400px) and (max-width: 1023px) {
    .table {
        color: black;
    }
}

@media (max-width: 480px) {
    .table {
        color: black;
    }
}

@media (max-width: 667px) {
    .weather-container {
        font-size: 10px;
    }
}

.weather-country {
    font-size: 14px;
}

.weather-time {
    font-size: 12px;
}

.collapse:not(.show) {
    display: none;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.list {
    width: 900px;
    min-height: 500px;
    background: #ffffff8c;
    border-radius: 24px;
}

.head-showmore {
    height: 30px;
    text-align: center;
    font-size: 12px;

}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control {
    vertical-align: middle;
}

.search {
    vertical-align: middle;

}

.navbar-right {
    /*margin-left: 830px;*/

}

/*SCOLL WED */
.scrollbar-card-body {
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.scrollbar-card-body {
    transform: translateX(3px);
    overflow-y: scroll;
    box-sizing: content-box;
}

.scrollbar-card-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* con chay chay tren trang*/
.scrollbar-card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000000;
}

.scrollbar-card-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.example-1 {

    position: relative;
    height: 415px;
    overflow: auto;
}

.adminpage {
    min-height: 500px;
    border-radius: 24px;
    background: #ffffff8c;
    padding-top: 10px;
}

.Search {
    width: 480px;
    height: 37px;
!important;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
    border-radius: 2px;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.navbar{
    border-radius:10px;
    background-color: #1c1c1c6b;
}